<!DOCTYPE html>
<html ng-app="zhzd">

<head>
  <meta charset="utf-8" />
  <title>Hanzi by ayptang</title>
  <meta name="viewport" content="width=device-width, initial-scale=.7" />
  <link rel="stylesheet" href="dist/style.css">
  <script src="dist/lib.js"></script>
</head>

<body>
  <div ng-controller="zhCtrl">
    <div class="top">
      <h1>漢字 Hanzi</h1>
      <div class="buttons">
        <a href="#"><img ng-click="draw = true" ng-class="{active: draw}" class="icon" src="assets/draw.png" width="40"></a>
        <a href="#"><img ng-click="draw = false" ng-class="{active: !draw}" class="icon" src="assets/clock.png" width="40"></a>
        <a href="javascript:history.go(0)"><img class="icon" src="assets/reload.png" width="40"></a>
      </div>
    </div>
    <canvas ng-show="draw" id="canvas" width="400" height="250" style="background-color: lavender; border: none;"></canvas>
    <div class="history" ng-hide="draw">
      <span class="past" ng-repeat="(key,val) in hist" ng-click="past(key)"> {{key}} </span>
    </div>
    <div>
      <h2 class="search" ng-click="add()">Click to Look Up <span id="preview">字</span></h2>
      <div ng-repeat="definition in def">
        <p>{{definition.traditional}} {{definition.pinyin}}</br>
        {{definition.definition}}</p>
      </div>
    </div>
  </div>
</body>
<script src="app/zhzd.js"></script>
<script src="app/canvas.js"></script>

</html>