<!DOCTYPE html>
<html ng-app="hzzd">

<head>
  <meta charset="utf-8" />
  <title>Hanzi by Albert Tang</title>
  <meta name="viewport" content="width=device-width, initial-scale=.7" />
  <link rel="stylesheet" href="dist/style.css">
  <!-- AngularJS -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
  <!-- CryptoJS imports -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/components/core-min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/components/x64-core-min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/components/sha512-min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/components/hmac-min.js"></script>
  <!-- Q import -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/q.js/1.2.1/q.js"></script>
  <!-- HandJS import -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handjs/1.3.11/hand.min.js"></script>
  <!-- MyScriptJS import -->
  <script src="dist/myscript.js"></script>
  <!-- Application -->
  <script src="dist/hzzd.js"></script>  
</head>

<body class="ng-cloak">

  <div ng-controller="menuCtrl" class="hzzd-menu">

    <h1>Hanzi</h1>
    <h3 class="hzzd-subtitle">漢字</h3>

    <div ng-click="lookupCharacter()" class="hzzd-button" id="hzzd-preview">
      <div>{{dictionary.character}}</div> 
    </div>

    <div class="hzzd-buttons">
      <div ng-click="lookupCharacter()" class="hzzd-button">
        <img src="assets/search.png">
        <h4>Lookup</h4>
      </div>
      <div ng-click="switchState('draw')" class="hzzd-button" ng-class="{'hzzd-active': router.state == 'draw'}">
        <img src="assets/draw.png">
        <h4>Draw</h4>
      </div>
      <div ng-click="switchState('history')" class="hzzd-button" ng-class="{'hzzd-active': router.state == 'history'}">
        <img src="assets/clock.png">
        <h4>History</h4>
      </div>
      <div ng-click="clear()" class="hzzd-button">
        <img src="assets/clear.png">
        <h4>Clear</h4>
      </div>
      <div ng-click="undo()" class="hzzd-button">
        <img src="assets/undo.png">
        <h4>Undo</h4>
      </div>
    </div>

  </div>

  <div ng-controller="canvasCtrl">

    <canvas ng-show="router.state == 'draw'" id="canvas" width="400" height="250"></canvas>

    <div class="hzzd-history" ng-show="router.state == 'history'">
      <span class="hzzd-past" ng-repeat="old in dictionary.history" ng-click="dictionary.changeCharacter(old.character)"> {{old.character}} </span>
    </div>
    <p class="author"><a href="https://github.com/albertyptang">Albert Tang</p>
    </a>
    <div ng-repeat="definition in dictionary.definitions">
      <p><span class="hzzd-definition-character">{{definition.traditional}}</span> {{definition.pinyin}}</br>
      {{definition.definition}}</p>
    </div>

  </div>

</body>

</html>