<!DOCTYPE html>
<html ng-app="zhzd">
<head>
  <meta charset="utf-8"/>
  <title>MVPtest</title>

  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">

  <!-- Latest compiled and minified JavaScript -->
  <script src="lib/angular/angular.js"></script>
  <script src="lib/angular-route/angular-route.js"></script>
  <script src="http://angular-ui.github.io/ui-router/release/angular-ui-router.js"></script>

  <!-- CryptoJS imports -->
  <script type="text/javascript" src="../bower_components/cryptojslib/components/core-min.js"></script>
  <script type="text/javascript" src="../bower_components/cryptojslib/components/x64-core-min.js"></script>
  <script type="text/javascript" src="../bower_components/cryptojslib/components/sha512-min.js"></script>
  <script type="text/javascript" src="../bower_components/cryptojslib/components/hmac-min.js"></script>
  <!-- Q import -->
  <script type="text/javascript" src="../bower_components/q/q.js"></script>
  <!-- HandJS import -->
  <script type="text/javascript" src="../bower_components/handjs/hand.js"></script>
  <!-- MyScriptJS import -->
  <script type="text/javascript" src="../bower_components/myscript/dist/myscript.js"></script>
  
  <script src="MVPangular.js"></script>
</head>

<body>
  <div ng-controller="zhCtrl">
    <h1>Hanzi <span id="preview"></span></h1>
    <canvas id="canvas" width="400" height="300" style="background-color: lavender; border: none;"></canvas>
    <ul>
      <li class="nav" ng-click="add('wiki')"><a href="#anchor"><img src="wiktionary.png"> Wiktionary</a></li>
      <li class="nav" ng-click="add('baidu')"><img src="baidu.png"> Baidu</li>
      <li class="nav" ng-click="add('youdao')"><img src="youdao.png"> Youdao</li>
    </ul>
      <a name="anchor"></a>
      <iframe id="frame" width="400" height="500"></iframe>
  </div>
</body>

<!-- TextRecognition -->
  <script type="text/javascript" src="canvas.js"></script>
</html>