body {
  margin-left: 20px;
  margin-top: 20px;
  font-family: arial, sans-serif;
}

a {
  color: #333;
  font-size: 14px;
  text-decoration: none;
}

h1 {
  margin-bottom: 10px;
  display:inline
}

h2, p {
  margin-top: 10px;
  margin-bottom: 10px
}

.top {
  width:400px;
  height: 40px;
  position:relative;
  margin-bottom: 20px
}

.buttons {
  position:absolute;
  top:0;
  right:0
}

.icon {
  opacity: .4;
}

.active {
  opacity: 1;
}

.history {
  width: 390px;
  height: 244px;
  border: 5px solid lavender
}

.past {
  font-size: 40px;
  font-weight: bold;
  color: gray
}

.search:hover {
  color: gray;
}

