body {
  margin-left: 20px;
  margin-top: 15px;
  font-family: arial, sans-serif;
}

h1 {
  margin-bottom: 5px;
  display: inline
}

h2,
p {
  margin-top: 5px;
  margin-bottom: 5px
}

#preview {
  color: gray;
}

.top {
  width: 400px;
  height: 40px;
  position: relative;
  margin-bottom: 5px
}

.iconDef {
  width: 395px;
  text-align: right;
}

.buttons {
  position: absolute;
  top: 0;
  right: 0
}

img {
  opacity: .4;
  width: 40px;
}

img:hover {
  opacity: 1;
}

.active {
  opacity: 1;
}

canvas {
  margin-top: 5px;
  background-color: lavender;
  border: none;
}

.author {
  position:absolute;
  width: 395px;
  text-align: right;
  opacity: .5
}

.author:hover{
  opacity: 1;
}

.past {
  opacity: .5
}

.past:hover {
  opacity: 1;
}

.box {
  padding: 0 10px;
  margin-top: 10px;
  width: 370px;
  height: 244px;
  border: 5px solid lavender;
  font-size: 40px;
  font-weight: bold;
}

.character {
  font-size: 30px;
}